@import "bootstrap.env";

$scrollbar-background: map-get($theme-colors, light);
$scrollbar-color: map-get($theme-colors, dark);

$scrollbar-width: 10px;

@mixin scrollbar7() {

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $scrollbar-background;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
    background-color: #F5F5F5;
    border-radius: $scrollbar-width;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, lighten( $scrollbar-color, 30% )),
      color-stop(0.72, lighten( $scrollbar-color, 15% )),
      color-stop(0.86, $scrollbar-color));
  }

}
