<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block title="Simple Block">
    Block Content
  </ar-block>

  <ar-block title="Figure">
    <ar-figure captionAlign="center">
      <ng-container caption>Figure caption</ng-container>
      <div [ngStyle]="{ width: '350px', height: '350px' }" arBsBgContext="info">Figure content</div>
    </ar-figure>
  </ar-block>

  <ar-block title="Lorem Ipsum text">
    <ar-lorem-ipsum [length]="600"></ar-lorem-ipsum>
  </ar-block>

  <ar-block title="Help Block">
    <pg-deprecated-feature>
      ar-help-block is deprecated feature. Use ar-form-text instead.
    </pg-deprecated-feature>
    <ar-help-block>Help block</ar-help-block>
    <ar-help-block [mini]="true">Mini help block</ar-help-block>
  </ar-block>

  <ar-block title="Form Text">
    <ar-form-text arBsTextContext="muted" [mini]="true">Help block</ar-form-text>
  </ar-block>

  <ar-block title="Page Header">
    <ar-page-header>
      Page Header text
      <ng-container side-content>Header side content</ng-container>
    </ar-page-header>
  </ar-block>

  <ar-block title="Switch">
    <ar-switch [active]="switchState" (toggle)="switchState = !switchState"></ar-switch>
    <ar-switch [active]="switchState" (toggle)="switchState = !switchState" [disabled]="true"></ar-switch>
  </ar-block>
</pg-example>
