<pg-example [template]="templateSource" [code]="codeSource">
    <ar-block title="Basic usage">
      <ar-alert arBsContext="warning">
        To display simple dictionary value use <ar-inner-link url="/core/pipes">arDictionary pipe</ar-inner-link>
      </ar-alert>

      <ar-form-text>Select dictionary value</ar-form-text>
      <ar-select [options]="dictionary" [control]="valueControl"></ar-select>
      <pre *arDictionary="valueControl.value; name: 'TEST'; let option = $implicit">{{ option | json }}</pre>
    </ar-block>
</pg-example>
