<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block arBsContext="primary" arBsSize="sm" title="Switch form state">
    <ar-row>
      <ar-col>
        <ar-form-text>Change controls state</ar-form-text>
        <ar-button arBsContext arBsSize (click)="overViewFormContext.disabled = !overViewFormContext.disabled">
          {{ overViewFormContext.disabled ? 'Enable' : 'Disable' }}
        </ar-button>
        <ar-button arBsContext arBsSize (click)="overViewFormContext.validate()">
          Validate
        </ar-button>
        <ar-button arBsContext arBsSize (click)="overViewFormContext.reset()">
          Reset
        </ar-button>
      </ar-col>
      <ar-col>
        <ar-form-text>Change controls size</ar-form-text>
        <ar-button-group>
          <ar-button [arBsContext]="size === 'sm' ? 'success' : ''" arBsSize (click)="size='sm'">Size: sm</ar-button>
          <ar-button [arBsContext]="size === '' ? 'success' : ''" arBsSize (click)="size=''">Size: md</ar-button>
          <ar-button [arBsContext]="size === 'lg' ? 'success' : ''" arBsSize (click)="size='lg'">Size: lg</ar-button>
        </ar-button-group>
      </ar-col>
      <ar-col>
        <ar-form-text>Change controls context</ar-form-text>
        <pg-context-dropdown [defaultValue]="context" (changeContext)="context = $event"></pg-context-dropdown>
      </ar-col>
      <ar-col>
        <ar-form-text>Change controls context</ar-form-text>
        <pg-context-dropdown [defaultValue]="bgContext" (changeContext)="bgContext = $event"></pg-context-dropdown>
      </ar-col>
    </ar-row>
  </ar-block>

  <ar-block title="Basic usage">
    <form arForm
          id="OverviewForm"
          [formGroup]="overViewFormContext.form"
          [arBsSize]="size"
          [arBsContext]="context"
          [bgContext]="bgContext"
    >
      <ar-row>
        <ar-form-group label="Text Control">
          <ar-input [control]="overViewFormContext.text"></ar-input>
          <ng-container hint>Form Control tooltip</ng-container>
        </ar-form-group>
        <ar-form-group label="Date Control">
          <ar-input [control]="overViewFormContext.date" type="date"></ar-input>
        </ar-form-group>
        <ar-form-group label="Email Control (Use regular validation text)" [useTooltip]="false">
          <ar-input [control]="overViewFormContext.email" type="email"></ar-input>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Password Control">
          <ar-input [control]="overViewFormContext.password" type="password"></ar-input>
        </ar-form-group>
        <ar-form-group label="Password Control">
          <ar-input [control]="overViewFormContext.passwordConfirm" type="password"></ar-input>
          <ng-container hint>Password confirmation</ng-container>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Checkbox">
          <ar-checkbox [control]="overViewFormContext.checkbox1">Checkbox 1</ar-checkbox>
          <ar-checkbox [control]="overViewFormContext.checkbox2">Checkbox 2</ar-checkbox>
        </ar-form-group>
        <ar-form-group class="col-sm-9" label="Inline Checkbox">
          <ar-checkbox [control]="overViewFormContext.checkboxInline1" [inline]="true">Checkbox Inline 1</ar-checkbox>
          <ar-checkbox [control]="overViewFormContext.checkboxInline2" [inline]="true">Checkbox Inline 2</ar-checkbox>
          <ar-checkbox [control]="overViewFormContext.checkboxInline3" [inline]="true">Checkbox Inline 3</ar-checkbox>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Radio">
          <ar-radio [control]="overViewFormContext.radio1" [value]="1" name="radio1">Radio 1</ar-radio>
          <ar-radio [control]="overViewFormContext.radio1" [value]="2" name="radio1">Radio 2</ar-radio>
        </ar-form-group>
        <ar-form-group class="col-sm-9" label="Inline Radio">
          <ar-radio [control]="overViewFormContext.radio1" [inline]="true" [value]="1" name="radio2">Radio 1</ar-radio>
          <ar-radio [control]="overViewFormContext.radio1" [inline]="true" [value]="2" name="radio2">Radio 2</ar-radio>
          <ar-radio [control]="overViewFormContext.radio1" [inline]="true" [value]="3" name="radio2">Radio 3</ar-radio>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Select">
          <ar-select [options]="[
            { label: 'option1', value: 1 },
            { label: 'option2', value: 2 },
            { label: 'option3', value: 3, disabled: true }
          ]" [control]="overViewFormContext.select1"></ar-select>
        </ar-form-group>
        <ar-form-group label="Select (With empty option)">
          <ar-select [options]="[
            { label: 'option1', value: 1 },
            { label: 'option2', value: 2 },
            { label: 'option3', value: 3 }
          ]" [control]="overViewFormContext.select2" placeholder="Chose option">
          </ar-select>
        </ar-form-group>
        <ar-form-group label="Select (multiple)">
          <ar-select-multiple [options]="[
            { label: 'option1', value: 1 },
            { label: 'option2', value: 2 },
            { label: 'option3', value: 3 },
            { label: 'option4', value: 4 },
            { label: 'option5', value: 5 },
            { label: 'option6', value: 6 },
            { label: 'option7', value: 7 }
          ]" [control]="overViewFormContext.select3" [size]="5"></ar-select-multiple>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Yes/No Dropdown">
          <ar-yes-no-select [control]="overViewFormContext.yesNoSelect" placeholder="Chose value"></ar-yes-no-select>
          <ng-container hint>Use this control for nullable bool</ng-container>
        </ar-form-group>
        <ar-form-group label="Radio Group">
          <ar-radio-group [options]="[
            { label: 'option1', value: 1 },
            { label: 'option2', value: 2 },
            { label: 'option3', value: 3 }
          ]" [control]="overViewFormContext.radioGroup">
          </ar-radio-group>
        </ar-form-group>
        <ar-form-group class="col-sm-6" label="Radio Group (inline)">
          <ar-radio-group [options]="[
            { label: 'option1', value: 1 },
            { label: 'option2', value: 2 },
            { label: 'option3', value: 3 }
          ]" [control]="overViewFormContext.radioGroup" [inline]="true">
          </ar-radio-group>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="File Input">
          <ar-file [control]="overViewFormContext.file"></ar-file>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Textarea">
          <ar-textarea [control]="overViewFormContext.textarea"></ar-textarea>
        </ar-form-group>
        <ar-form-group label="Textarea (Multiline)" class="col-sm-6">
          <ar-textarea [control]="overViewFormContext.textarea2" [multiLine]="true"></ar-textarea>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Autocomplete" class="col-sm-4">
          <ar-autocomplete
            [searchFunction]="autocompleteSearch"
            [control]="overViewFormContext.autocomplete"></ar-autocomplete>
        </ar-form-group>
        <ar-form-group label="Autocomplete List">
          <ar-autocomplete-list
            [options]="largeList"
            [control]="overViewFormContext.autocompleteList1"
          ></ar-autocomplete-list>
          <ar-form-text>Pass options as Observable</ar-form-text>
        </ar-form-group>
        <ar-form-group label="Autocomplete List">
          <ar-autocomplete-list
            [options]="largeList | async"
            [control]="overViewFormContext.autocompleteList2"
          ></ar-autocomplete-list>
          <ar-form-text>Pass options as Array</ar-form-text>
        </ar-form-group>
      </ar-row>
    </form>

    <pre arBsBgContext="dark">{{ overViewFormContext.form.value | json }}</pre>
  </ar-block>
</pg-example>
