<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-radio [value]="1" name="radio1">Radio 1</ar-radio>
      <ar-radio [value]="2" name="radio1">Radio 2</ar-radio>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-radio [value]="1" name="radio2" [inline]="true">Inline Radio 1</ar-radio>
      <ar-radio [value]="2" name="radio2" [inline]="true">Inline Radio 2</ar-radio>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-radio [value]="1" name="radio3">Radio 1</ar-radio>
      <ar-radio [value]="2" name="radio3">Radio 2</ar-radio>
    </ar-form-group>
  </ar-form>
</pg-example>
