@import "../Dropdown/Dropdown.component";

:host {

  cursor: pointer;
  pointer-events: auto;
  margin-left: 0 - $dropdown-padding;
  width: calc(100% + #{$dropdown-padding * 2});
  position: relative;

  .prefix-block {
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  &:hover {
    .prefix-block {
      opacity: 1;
    }
  }

  &.disabled {
    pointer-events: none;

    &:hover {
      .prefix-block {
        opacity: 0;
      }
    }
  }
}


