<pg-example [template]="templateSource" [code]="codeSource">
  <form arForm id="form" [formGroup]="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-input placeholder="Text input" name="TextInput1"></ar-input>
    </ar-form-group>
    <ar-form-group arBsSize="sm" label="Small">
      <ar-input placeholder="Date input" name="TextInput4" type="date"></ar-input>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-input placeholder="Email input" name="TextInput2" type="email"></ar-input>
    </ar-form-group>
    <ar-form-group arBsSize="lg"  label="Large">
      <ar-input placeholder="Password input" name="TextInput3" type="password"></ar-input>
    </ar-form-group>
  </form>

  <ar-block>
    Available types <strong>text</strong>, <strong>email</strong>, <strong>date</strong>, <strong>password</strong>.
  </ar-block>
</pg-example>
