@import "../../../assets/scroll";

.ar-table {

  &.table-responsive {
    @include scrollbar7();
  }

  .ar-table-header {
    th {
      position: relative;
      white-space: nowrap;
    }
  }

  .table-controls {
    display: flex;
    justify-content: space-between;
    &-left, &-right {
      & > * {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }

  .table-controls-area {
    position: relative;
    padding: 0;
  }

  .dropdown-menu-wrapper {
    position: static !important;
  }

  ar-table-filter {
    .dropdown-menu {
      width: 100%;
      min-height: 200px;
    }
  }

  &__switch {
    cursor: pointer;
  }

  &__action-group {
    .dropdown {
      position: initial;
    }

    .ar-icon {
      transition: opacity 0.2s ease-in;

      &:hover {
        opacity: 0.8;
      }
    }

    & > * {
      padding: 0.2rem;
      cursor: pointer;

      &:hover {
        .ar-icon {
          opacity: 0.8;
        }
      }
    }
  }

  &.ar-table--scrollable {
    & > thead, & > thead > tr, & > tbody > tr {
      display:table;
      width:100%;
      table-layout:fixed;
    }

    & > thead {
      width: calc( 100% - #{$scrollbar-width} );
    }
  }
}


