<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Width directive">
    <ar-block title="Width 25%" arWidth="25">
      <ar-lorem-ipsum length="300"></ar-lorem-ipsum>
    </ar-block>
    <ar-block title="Width 50%" arWidth="50">
      <ar-lorem-ipsum length="300"></ar-lorem-ipsum>
    </ar-block>
    <ar-block title="Width 75%" arWidth="75">
      <ar-lorem-ipsum length="300"></ar-lorem-ipsum>
    </ar-block>
  </ar-block>

  <ar-block title="Border directive">
    <ar-block title="Border" arBorder>
      <ar-lorem-ipsum length="300"></ar-lorem-ipsum>
    </ar-block>
    <ar-block title="Contextual Border" arBorder="danger">
      <ar-lorem-ipsum length="300"></ar-lorem-ipsum>
    </ar-block>
    <ar-block title="Rounded Border" arBorder="success" [arBorderRounded]="true">
      <ar-lorem-ipsum length="300"></ar-lorem-ipsum>
    </ar-block>
  </ar-block>

  <ar-block title="Add Vertical scroll to block">
    <ar-row>
      <ar-col arScrollable="200px">
        <ar-lorem-ipsum [length]="2000"></ar-lorem-ipsum>
      </ar-col>
      <ar-col arScrollable="25vh">
        <ar-lorem-ipsum [length]="2000"></ar-lorem-ipsum>
      </ar-col>
      <ar-col arScrollable="45rem">
        <ar-lorem-ipsum [length]="2000"></ar-lorem-ipsum>
      </ar-col>
    </ar-row>
  </ar-block>

</pg-example>

<ar-inner-link url="/ui/bs-group">Contextual directives</ar-inner-link>
