<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Collapsible card">
    <ar-card [showHeader]="true" [showFooter]="true" [collapsible]="true" (change)="cardStatus = $event">
      <ng-container header> Click to collapse</ng-container>
      <ar-lorem-ipsum [length]="1000"></ar-lorem-ipsum>
      <ng-container footer>
        <pre>Card Status: {{ cardStatus | json }}</pre>
      </ng-container>
    </ar-card>
  </ar-block>

  <ar-block title="Card properties">
    <div class="row">
      <div class="col">
        <ar-card [image]="image" [cardContent]="cardContent">
          <ar-lorem-ipsum [length]="250"></ar-lorem-ipsum>
        </ar-card>
      </div>
      <div class="col">
        <ar-card [showHeader]="true" [showFooter]="true" arTextAlign="center" arBsBgContext="info">
          <ng-container header>
            <ar-lorem-ipsum [length]="50"></ar-lorem-ipsum>
          </ng-container>
          <ar-lorem-ipsum [length]="250"></ar-lorem-ipsum>
          <ar-inner-link url="/">Home</ar-inner-link>
          <ar-inner-link url="/ui">Ui Module</ar-inner-link>
          <ng-container footer>
            <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
          </ng-container>
        </ar-card>
      </div>
      <div class="col">
        <ar-card [image]="image" [imageOverlay]="true" [showFooter]="true" arBsBgContext="dark">
          <ar-lorem-ipsum [length]="90"></ar-lorem-ipsum>
          <ng-container footer>
            <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
          </ng-container>
        </ar-card>
      </div>
      <div class="col">
        <ar-card [image]="image" [showHeader]="true" arBsBgContext="light" arBorder="dark" [imageBottom]="true">
          <ar-lorem-ipsum [length]="250"></ar-lorem-ipsum>
          <ng-container header>
            <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
          </ng-container>
        </ar-card>
      </div>
    </div>
  </ar-block>

  <ar-block title="Static height">
    <ar-card [height]="200" [showHeader]="true" [collapsible]="true">
      <ng-container header>
        <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
      </ng-container>
      <ar-lorem-ipsum [length]="2000"></ar-lorem-ipsum>
    </ar-card>
  </ar-block>

  <ar-block title="Cards group">
    <ar-block title="Group">
      <ar-card-group>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="info">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="150"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="info">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="250"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="info">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="350"></ar-lorem-ipsum>
      </ar-card>
    </ar-card-group>
    </ar-block>

    <ar-block title="Deck">
      <ar-card-group [deck]="true">
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="danger">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="150"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="danger">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="250"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="danger">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="350"></ar-lorem-ipsum>
      </ar-card>
    </ar-card-group>
    </ar-block>

    <ar-block title="Columns">
      <ar-card-group [columns]="true">
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="secondary">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="150"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="secondary">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="250"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="secondary">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="350"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="secondary">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="200"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="secondary">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="450"></ar-lorem-ipsum>
      </ar-card>
      <ar-card [showHeader]="true" [showFooter]="true" arBsBgContext="secondary">
        <ng-container header>
          <ar-lorem-ipsum [length]="30"></ar-lorem-ipsum>
        </ng-container>
        <ar-lorem-ipsum [length]="500"></ar-lorem-ipsum>
      </ar-card>
    </ar-card-group>
    </ar-block>
  </ar-block>
</pg-example>
