<pg-example [template]="templateSource" [code]="codeSource">

  <ar-nav-bar arBsContext="dark" arBsSize="sm" arBsBgContext="dark">
    <ng-container navbar-brand>Brand Section</ng-container>
    <ng-container form-inline>Inline Form Content</ng-container>
    <ar-nav-bar-nav>
      <ar-nav-bar-nav-item>Navbar item</ar-nav-bar-nav-item>
      <ar-nav-bar-nav-item>Navbar item</ar-nav-bar-nav-item>
      <ar-nav-bar-nav-dropdown-item>
        <ng-container title>Dropdown</ng-container>
        <ar-dropdown-menu-item>Item1</ar-dropdown-menu-item>
        <ar-dropdown-menu-item>Item2</ar-dropdown-menu-item>
        <ar-dropdown-menu-item>Item3</ar-dropdown-menu-item>
      </ar-nav-bar-nav-dropdown-item>
    </ar-nav-bar-nav>
  </ar-nav-bar>

  <ar-nav-bar arBsContext="light" arBsSize="lg" arBsBgContext="warning">
    <ng-container navbar-brand>Brand Section</ng-container>
    <ng-container form-inline>Inline Form Content</ng-container>
    <ar-nav-bar-nav>
      <ar-nav-bar-nav-item>Navbar item</ar-nav-bar-nav-item>
      <ar-nav-bar-nav-item>Navbar item</ar-nav-bar-nav-item>
      <ar-nav-bar-nav-dropdown-item>
        <ng-container title>Dropdown</ng-container>
        <ar-dropdown-menu-item>Item1</ar-dropdown-menu-item>
        <ar-dropdown-menu-item>Item2</ar-dropdown-menu-item>
        <ar-dropdown-menu-item>Item3</ar-dropdown-menu-item>
      </ar-nav-bar-nav-dropdown-item>
    </ar-nav-bar-nav>
  </ar-nav-bar>

  <ar-nav-bar arBsContext="light" arBsSize="md" arBsBgContext="info">
    <ng-container navbar-brand>Brand Section</ng-container>
    <ng-container form-inline>Inline Form Content</ng-container>
    <ar-nav-bar-nav>
      <ar-nav-bar-nav-item>Navbar item</ar-nav-bar-nav-item>
      <ar-nav-bar-nav-item>Navbar item</ar-nav-bar-nav-item>
      <ar-nav-bar-nav-dropdown-item>
        <ng-container title>Dropdown</ng-container>
        <ar-dropdown-menu-item>Item1</ar-dropdown-menu-item>
        <ar-dropdown-menu-item>Item2</ar-dropdown-menu-item>
        <ar-dropdown-menu-item>Item3</ar-dropdown-menu-item>
      </ar-nav-bar-nav-dropdown-item>
    </ar-nav-bar-nav>
  </ar-nav-bar>
</pg-example>
