@import "../../../assets/bootstrap.env";

@mixin controlSize($size: 1rem, $padding: 1.25rem, $background-size: 50% 50%) {
  padding-left: $padding;
  font-size: $size;

  .custom-control-input ~ .custom-control-label::before {
    width: $size;
    height: $size;
  }

  .custom-control-input ~ .custom-control-label::after {
    width: $size;
    height: $size;
    background-size: $background-size;
  }
}

@mixin checkboxControl($selector) {
  @each $color, $value in $theme-colors {
    &#{$selector}-#{$color} {
      .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $value;
      }
    }
  }

  &#{$selector}-lg {
    @include controlSize(1.3rem, 1.5rem, 75%);
  }

  &#{$selector}-sm {
    @include controlSize(0.9rem, 1.1rem, 75%);
  }
}

.custom-checkbox {
  @include checkboxControl(&);
}

.custom-radio {
  @include checkboxControl(&);
}
