@import "../../../assets/bootstrap.env";

$icon-size-xl: 48px;
$icon-size-lg: 30px;
$icon-size-md: 24px;
$icon-size-xs: 20px;
$icon-size-sm: 16px;

$icon-size-map: (
  'xl': $icon-size-xl,
  'lg': $icon-size-lg,
  'md': $icon-size-md,
  'xs': $icon-size-xs,
  'sm': $icon-size-sm
);

@mixin svgSize($size: $icon-size-md) {
  svg {
    width: $size;
    height: $size;
  }
}

:host {
  @include svgSize();
  display: inline-block;
  vertical-align: middle;
  line-height: 0;

  &.ar-icon {
    @each $size, $value in $icon-size-map {
      &-#{$size} {
        @include svgSize($value);
      }
    }

    @each $color, $value in $theme-colors {
      &-#{$color} {
        svg {
          fill: $value;
        }
      }
    }

    &-white {
      svg {
        fill: #fff;
      }
    }
  }


}



.ar-icon {

}


