<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-radio-group name="radioGroup1" [options]="options"></ar-radio-group>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-radio-group name="radioGroup2" [inline]="true" [options]="options"></ar-radio-group>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-radio-group name="radioGroup3" [list]="['option1', 'option2', 'option3']"></ar-radio-group>
    </ar-form-group>
  </ar-form>

  <ar-block title="Options">
    <pre arBsBgContext="dark">{{ options | json }}</pre>
  </ar-block>
</pg-example>

