
a {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;

  &.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}
