<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Base usage">
    <ar-progress-bar value="37"></ar-progress-bar>
  </ar-block>

  <ar-block title="With Properties">
    <ar-block>
      <ar-progress-bar value="85" arBsContext="danger"></ar-progress-bar>
    </ar-block>
    <ar-block>
      <ar-progress-bar value="46" arBsContext="warning" [showValue]="true"></ar-progress-bar>
    </ar-block>
    <ar-block>
      <ar-progress-bar value="74" arBsContext="dark" [showValue]="true" [striped]="true"></ar-progress-bar>
    </ar-block>
    <ar-block>
      <ar-progress-bar value="93" arBsContext="success" [showValue]="true" [striped]="true" [active]="true"></ar-progress-bar>
    </ar-block>
    <ar-block>
      <ar-progress-bar value="58" arBsContext="secondary" height="1"></ar-progress-bar>
    </ar-block>
  </ar-block>
</pg-example>
