<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block title="arInfinityScroll">
    <ar-alert arBsContext="warning">This directive works out of angular context. Use NgZone service to sync actions with angular.</ar-alert>
    <ar-row>
      <ar-col arScrollable="200px" arInfinityScroll (infinityScroll)="setScrollRatio($event)" class="col-sm-2">
        <ar-lorem-ipsum></ar-lorem-ipsum>
      </ar-col>
      <ar-col>
        <pre>Current scroll ratio: {{ scrollRatio }}</pre>
      </ar-col>
    </ar-row>
  </ar-block>
  <pg-source-code [source]="infinityScrollImplementation" lang="typescript"></pg-source-code>

  <ar-block title="arScrollContainer">
    <ar-alert arBsContext="warning">Directive should be combined with arInfinityScroll directive</ar-alert>
    <ar-row>
      <ar-col arScrollable="200px" arInfinityScroll class="col-sm-4">
        <div *arScrollContainer="collection; let item = $implicit">
          Collection item <code>{{ item | json }}</code>
        </div>
      </ar-col>
      <ar-col></ar-col>
    </ar-row>
  </ar-block>
  <pg-source-code [source]="scrollContainerImplementation" lang="typescript"></pg-source-code>

</pg-example>
