<pg-example [template]="templateSource" [code]="codeSource">

  <ar-row>
    <ar-col>
      <ar-block title="Simple dropdown">
        <ar-dropdown>
          <ng-container title>Dropdown link</ng-container>
          <div>Dropdown content</div>
        </ar-dropdown>
      </ar-block>
    </ar-col>
    <ar-col>
      <ar-block title="Dropdown Menu">
        <ar-dropdown-menu arBsContext="secondary">
          <ng-container title>Dropdown Link ({{ dropdownMenuContent }})</ng-container>
          <ar-bs-group bsContext="success">
            <ar-dropdown-menu-item arBsContext>Menu Item</ar-dropdown-menu-item>
            <ar-dropdown-menu-item arBsContext>Menu Item</ar-dropdown-menu-item>
            <ar-dropdown-divider arBsContext></ar-dropdown-divider>
            <ar-dropdown-menu-item arBsContext="danger" [closeOnSelect]="false">No closeable Item</ar-dropdown-menu-item>
            <ar-dropdown-menu-item arBsContext="info" (click)="dropdownMenuContent = 'Click event emitted'">Click event</ar-dropdown-menu-item>
            <ar-dropdown-divider>Divider with label</ar-dropdown-divider>
            <ar-dropdown-menu-item arBsContext [disabled]="true">Disabled item</ar-dropdown-menu-item>
          </ar-bs-group>
        </ar-dropdown-menu>
      </ar-block>
    </ar-col>
    <ar-col>
      <ar-block title="Full with menu">
        <ar-dropdown [fullWidth]="true">
          <ng-container title>Dropdown link</ng-container>
          <div>Dropdown content</div>
        </ar-dropdown>
      </ar-block>
    </ar-col>
  </ar-row>

  <ar-block title="Dropup">
    <ar-dropdown-menu [dropUp]="true">
      <ng-container title>Click to open</ng-container>
      <ar-lorem-ipsum [length]="2000"></ar-lorem-ipsum>
    </ar-dropdown-menu>
  </ar-block>


</pg-example>
