@import "../../../assets/scroll";

:host {
  &.form-control {
    padding: 0;

    .form-control, .custom-select {
      border-color: transparent;
    }

    .custom-select {
      width: calc(100% - 2px);
      margin-left: 1px;
      margin-top: 1px;

      &:active, &:focus {
        box-shadow: none;
      }
    }
  }
}

.custom-select {
  @include scrollbar7();
}

textarea {
  @include scrollbar7();
  resize: none;

  &.resize {
    resize: vertical;
  }
}
