<pg-example [template]="templateSource" [code]="codeSource">
  <div class="d-flex justify-content-between">
    <ar-block title="Button context">
      <ar-block *ngFor="let context of bsContext">
        <ar-button [arBsContext]="context">{{context}}</ar-button>
        <ar-button [arBsContext]="context" arBsContextPrefix="outline">Outline {{context}}</ar-button>
      </ar-block>
    </ar-block>

    <ar-block title="Button size">
      <ar-block *ngFor="let size of bsSize">
        <ar-button [arBsSize]="size" arBsContext="dark">{{size || 'default'}} button</ar-button>
      </ar-block>
    </ar-block>

    <ar-block title="@Input() block">
      <ar-block [ngStyle]="{ width: '200px' }">
        <ar-button [block]="true" arBsContext="primary">Block button</ar-button>
        <ar-button [block]="true" arBsContext="primary">Block button</ar-button>
        <ar-button [block]="true" arBsContext="primary">Block button</ar-button>
        <ar-button [block]="true" arBsContext="primary">Block button</ar-button>
      </ar-block>
    </ar-block>

    <ar-block title="@Input() disabled">
      <ar-block [ngStyle]="{ width: '200px' }">
        <ar-button [block]="true"
                  arBsContext="success"
                  (click)="buttonClickState = 'Button clicked'"
        >{{buttonClickState}}</ar-button>
        <ar-button [block]="true"
                  arBsContext="success"
                  [disabled]="true"
                  (click)="buttonClickState2 = 'Button clicked'"
        >{{buttonClickState2}}</ar-button>
      </ar-block>
    </ar-block>
  </div>

  <ar-block title="Button Group">
    <div class="d-flex justify-content-between">
      <ar-block title="Group">
        <ar-button-group arBsContext="secondary" arBsContextPrefix="outline">
          <ar-button arBsContext>Button 1</ar-button>
          <ar-button arBsContext>Button 2</ar-button >
          <ar-button arBsContext>Button 3</ar-button >
          <ar-button arBsContext>Button 4</ar-button >
        </ar-button-group>
      </ar-block>

      <ar-block title="Vertical Group">
        <ar-button-group [vertical]="true" arBsContext="warning">
          <ar-button arBsContext>Button 1</ar-button>
          <ar-button arBsContext>Button 2</ar-button>
          <ar-button arBsContext>Button 3</ar-button>
          <ar-button arBsContext>Button 4</ar-button>
        </ar-button-group>
      </ar-block>

      <ar-block title="Button size">
        <ar-block *ngFor="let size of bsSize" [title]="size || 'default'">
          <ar-button-group arBsContext="primary" [arBsSize]="size">
            <ar-button arBsSize arBsContext>Button 1</ar-button>
            <ar-button arBsSize arBsContext>Button 2</ar-button>
            <ar-button arBsSize arBsContext>Button 3</ar-button>
            <ar-button arBsSize arBsContext>Button 4</ar-button>
          </ar-button-group>
        </ar-block>
      </ar-block>

    </div>
  </ar-block>
</pg-example>
