
:host {
  display: flex;
  flex-direction: column-reverse;
  width: 500px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
}

.inner-alert {
  opacity: 0.95;
}