<ar-dropdown bsContext="primary" *ngIf="service.hasCells">
  <ng-container title>
    <ar-icon arBsSize arBsContext name="table-column-plus-after"></ar-icon>
  </ng-container>
  <ul class="cell-list">
    <li *ngFor="let cell of service.cells" class="cell-item">
      <label>
        <input type="checkbox" [checked]="!cell.hidden" (change)="table.toggleCellVisibility([cell.key])">
        {{ cell.title }}
      </label>
    </li>
  </ul>
  <div class="controls">
    <a class="control" (click)="table.toggleAllCellVisibility(true)">Show All</a>
    <a class="control" (click)="table.toggleAllCellVisibility(false)">Hide All</a>
  </div>
</ar-dropdown>
