
.cell-list {
  padding: 0;
  font-size: 80%;
}

.cell-item {
  list-style: none;
}

.controls {
  text-align: center;
  .control {
    cursor: pointer;
    display: inline-block;

    & + .control{
      margin-left: 2em;
    }
  }
}