<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block>
    <ar-alert arBsContext="danger">
      Dictionary service is using <strong>HOT</strong> Observable! You should handle .unsubscribe() action for preventing memory leaks
    </ar-alert>
  </ar-block>

  <ar-block arBsContext="secondary">
    <ar-button arBsContext (click)="dictionaryService.remove('TEST')">Clean</ar-button>
    <ar-button arBsContext (click)="setDictionary1()">Load Dictionary From Array</ar-button>
    <ar-button arBsContext (click)="setDictionary2()">Load Dictionary From Observable</ar-button>
  </ar-block>

  <ar-block title="Result">
    <ar-row>
      <ar-col>
        <ar-form-text>From observable property</ar-form-text>
        <pre arBsBgContext="dark">{{ dictionaryObserver | async | json }}</pre>
      </ar-col>
      <ar-col>
        <ar-form-text>From Service</ar-form-text>
        <pre arBsBgContext="dark">{{ dictionaryService.get('TEST') | async | json }}</pre>
      </ar-col>
      <ar-col>
        <ar-form-text>From Prop</ar-form-text>
        <pre arBsBgContext="dark">{{ dictionary | json }}</pre>
      </ar-col>
    </ar-row>
  </ar-block>

</pg-example>

<ar-block title="Component implementation">
  <pg-source-code [source]="implementation" lang="typescript"></pg-source-code>
</ar-block>
