<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block>
    <ar-button arBsContext="primary" (click)="state = !state">Toggle</ar-button>
  </ar-block>

  <div class="row">
    <div class="col">
      <ar-spinner [visible]="state">
        <div style="height: 300px; background-color: #d6490b; padding: 40px; color: #fff;">
          Spinner wrapper Example
        </div>
      </ar-spinner>
    </div>
    <div class="col">
      <div style="height: 300px; background-color: #6f1fff; padding: 40px; color: #fff;" *arSpinner="state">
        Spinner directive example
      </div>
    </div>
  </div>

</pg-example>
