<div class="content-layout">
    <div class="content" [class.has-notification]="viewModel.tabToClose">
        <ul class="nav nav-tabs nav-justified tab-links" *ngIf="viewModel.hasTabs">
            <li class="nav-item" *ngFor="let tab of viewModel.tabs" [class.changed]="tab.changed">
                <a (click)="selectTab(tab)" class="tab-link-inner nav-link" [class.active]="tab.active">
                    <ar-tab-link [model]="tab" (onClose)="removeTab($event)">{{tab.title}}</ar-tab-link>
                </a>
            </li>
        </ul>

        <ar-block class="content">
            <ng-container #content>
                <ng-content></ng-content>
            </ng-container>
        </ar-block>
    </div>

    <div class="notification modal-dialog modal-sm" *ngIf="viewModel.tabToClose">
        <div class="modal-content">
            <div class="modal-body">
                Discard changes?
            </div>
            <div class="modal-footer">
                <button class="btn" arBsContext="danger" arBsSize="sm" (click)="deleteTab(viewModel.tabToClose)">
                    Yes
                </button>
                <button class="btn" arBsContext="default" arBsSize="sm" (click)="viewModel.tabToClose = null">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
