<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Addons">
    <ar-form-group>
      <ar-input-group [prepend]="true">
        <ng-container prepend>
          <ar-input-group-text>Prepend Text</ar-input-group-text>
        </ng-container>
        <ar-input></ar-input>
      </ar-input-group>
    </ar-form-group>

    <ar-form-group>
      <ar-input-group [append]="true">
        <ng-container append>
          <ar-input-group-text>Append Text</ar-input-group-text>
        </ng-container>
        <ar-input></ar-input>
      </ar-input-group>
    </ar-form-group>

    <ar-form-group>
      <ar-input-group [prepend]="true" [append]="true">
        <ng-container prepend>
          <ar-input-group-text>Prepend Text</ar-input-group-text>
        </ng-container>
        <ar-input></ar-input>
        <ng-container append>
          <ar-input-group-text>Append Text</ar-input-group-text>
        </ng-container>
      </ar-input-group>
    </ar-form-group>

    <ar-form-group arBsContext="dark">
      <ar-input-group [prepend]="true" [append]="true">
        <ng-container prepend>
          <ar-button arBsContext arBsSize>Prepend Button</ar-button>
        </ng-container>
        <ar-input></ar-input>
        <ng-container append>
          <ar-button arBsContext arBsSize>Append Button</ar-button>
        </ng-container>
      </ar-input-group>
    </ar-form-group>
  </ar-block>

  <ar-block title="Grouping">
    <ar-form-group>
      <ar-input-group>
        <ar-input></ar-input>
        <ar-input></ar-input>
        <ar-input></ar-input>
      </ar-input-group>
    </ar-form-group>
  </ar-block>

  <ar-block title="Sizing">
    <ar-form-group arBsSize="sm" arBsContext="primary">
      <ar-input-group [prepend]="true" [append]="true">
        <ng-container prepend>
          <ar-button arBsContext arBsSize>Prepend Button</ar-button>
        </ng-container>
        <ar-input></ar-input>
        <ar-input></ar-input>
        <ar-input></ar-input>
        <ng-container append>
          <ar-input-group-text>Append Text</ar-input-group-text>
        </ng-container>
      </ar-input-group>
    </ar-form-group>
  </ar-block>

  <ar-block title="Different Controls">
    <ar-form-group>
      <ar-input-group>
        <ar-input placeholder="text"></ar-input>
        <ar-input type="email" placeholder="email"></ar-input>
        <ar-input type="date" placeholder="date"></ar-input>
        <ar-input type="password" placeholder="password"></ar-input>
      </ar-input-group>
    </ar-form-group>
    <ar-form-group>
      <ar-input-group>
        <ar-select [list]="[1, 2, 3, 4, 5]" placeholder="Select"></ar-select>
        <ar-yes-no-select placeholder="Yes/No Select"></ar-yes-no-select>
        <ar-select-multiple [list]="[1, 2, 3, 4, 5]"></ar-select-multiple>
      </ar-input-group>
    </ar-form-group>
  </ar-block>
</pg-example>
