
.onoffswitch {
  display: inline-block;
  position: relative; width: 56px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

  &-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #fff; border-radius: 10px;
    text-align: left;

    &.checked {
      .onoffswitch-inner {
        margin-left: 0;
      }

      .onoffswitch-switch {
        right: 0;
        background-color: #6BC95F;
      }
    }
  }

  &-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before, &:after {
      display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
      font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
    }

    &:before {
      content: "ON";
      padding-left: 10px;
      background-color: #154975; color: #FFFFFF;
    }

    &:after {
      content: "OFF";
      padding-right: 10px;
      background-color: #154975; color: #FFFFFF;
      text-align: right;
    }
  }

  &-switch {
    display: block; width: 14px; margin: 4px;
    background: #DB3941;
    position: absolute; top: 0; bottom: 0;
    right: 35px;
    border: 1px solid #fff; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
  }

  &.disabled {
    .onoffswitch-switch {
      background-color: #cfcfcf;
    }

    .onoffswitch-inner {
      &:before, &:after {
        background-color: #cfcfcf; color: #FFFFFF;
      }
    }
  }

}