<input type="hidden" [formControl]="control" [name]="inputName"/>
<ar-input-group [append]="true" class="ar-form-autocomplete">
  <ar-dropdown class="form-control"
              [class.is-invalid]="hasError"
              [class.disabled]="control.disabled"
              [fullWidth]="true"
              [arBsBgContext]="formService?.bsBgContext"
              [disabled]="control.disabled"
              [dropUp]="dropUp"
              #dropdown>
    <ng-container title>
      <input
        type="text"
        class="form-control"
        [class.active]="dropdown.opened"
        [placeholder]="placeholder"
        arBsSize
        [arBsBgContext]="formService?.bsBgContext"
        [attr.id]="controlId"
        autocomplete="off"
        [formControl]="searchControl"
        (focus)="handleFocus()"
        (blur)="handleBlur()"
        (click)="$event.stopPropagation()"
        #searchInput
      >
      <div
        class="form-control placeholder"
        [class.disabled]="control.disabled"
        arBsSize
        [arBsBgContext]="formService?.bsBgContext"
        [class.is-invalid]="hasError"
        [hidden]="dropdown.opened"
        (click)="handlePlaceholderClick(searchInput)"
      >
        {{ displayText || placeholder }}
      </div>
    </ng-container>

    <ar-block class="selected-option-area border-bottom border-dark" >
      <ar-autocomplete-option-component
        *ngIf="selectedOption"
        [optionTemplate]="optionTemplateToRender"
        [option]="selectedOption"
        [readonly]="true"
      >
      </ar-autocomplete-option-component>
    </ar-block>

    <div arInfinityScroll arScrollable="300px">
      <ar-form-text *ngIf="noResult">
        {{noResultText}}
      </ar-form-text>
      <ar-autocomplete-option-component
        *arScrollContainer="collection; let item = $implicit"
        [optionTemplate]="optionTemplateToRender"
        [option]="item"
        (selectOption)="handleChange($event)"
      ></ar-autocomplete-option-component>
    </div>

  </ar-dropdown>
  <ng-container append>
    <ar-input-group-text>
      <ar-icon *ngIf="searchPending" arBsSize name="google-circles-extended" class="pending"></ar-icon>
      <ar-icon *ngIf="!searchPending" arBsSize name="close" (click)="handleRemove()" class="remove"></ar-icon>
    </ar-input-group-text>
  </ng-container>
</ar-input-group>

<ng-template #defaultOptionTemplate let-item>
  {{ item?.label }}
</ng-template>
