<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block>
    <ar-alert arBsContext="warning">
      This service keep subscriptions data and should be injected in component class directly.
    </ar-alert>
  </ar-block>

  <ar-block title="Usage Example">
    <pg-source-code [source]="example" lang="typescript"></pg-source-code>
  </ar-block>
</pg-example>
