<ar-page-header>
  Argon
  <ng-container side-content>ver.1.1</ng-container>
</ar-page-header>
<ar-block class="container">
  <ar-row [arBsContext]="iconsColor" textAlign="center">
    <!-- Core Module -->
    <ar-col arTextAlign>
      <ar-inner-link [url]="['core']" arTextAlign>
        <ar-figure>
          <ar-icon name="dropbox" arBsContext [size]="iconsSize"></ar-icon>
          <ng-container caption>Core Module</ng-container>
        </ar-figure>
      </ar-inner-link>
    </ar-col>
    <!-- Ui Module -->
    <ar-col arTextAlign>
      <ar-inner-link [url]="['ui']" arTextAlign>
        <ar-figure>
          <ar-icon name="brush" arBsContext [size]="iconsSize"></ar-icon>
          <ng-container caption>Ui Module</ng-container>
        </ar-figure>
      </ar-inner-link>
    </ar-col>
    <!-- Tables Module -->
    <ar-col arTextAlign>
      <ar-inner-link [url]="['tables']" arTextAlign>
        <ar-figure>
          <ar-icon name="table-large" arBsContext [size]="iconsSize"></ar-icon>
          <ng-container caption>Tables Module</ng-container>
        </ar-figure>
      </ar-inner-link>
    </ar-col>
    <!-- Forms Module -->
    <ar-col arTextAlign>
      <ar-inner-link [url]="['forms']" arTextAlign>
        <ar-figure>
          <ar-icon name="book-open" arBsContext [size]="iconsSize"></ar-icon>
          <ng-container caption>Forms Module</ng-container>
        </ar-figure>
      </ar-inner-link>
    </ar-col>
    <!-- Tools Module -->
    <ar-col arTextAlign>
      <ar-inner-link [url]="['tools']" arTextAlign>
        <ar-figure>
          <ar-icon name="engine" arBsContext [size]="iconsSize"></ar-icon>
          <ng-container caption>Tools Module</ng-container>
        </ar-figure>
      </ar-inner-link>
    </ar-col>
  </ar-row>
</ar-block>

<ar-block arBsBgContext="dark" arBorder [arBorderRounded]="true" title="Tools versions">
  <ul>
    <li>Angular: 6.0.0</li>
    <li>Angular CDK: 6.0.1</li>
    <li>Bootstrap: 4.0.0</li>
  </ul>
</ar-block>
